/*/
!.gitignore
!/Assets
!/Library
/Library/*
!/Library/*.asset
!/ProjectSettings
/*-CSharp*
/*-UnityScript*
/*-csharp*
/*.sln

# Volkan's additions
/*.csproj
/*.unityproj
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj